body{
	font-family: cairo, "Times New Roman", Sans-serif;
	margin: 0px 50px;
}

h1{
	display: none;
}

/* Extend header to entire wdth of screen */
header{
	margin: 0px -50px;
}

header img{
	height: 80px;
}

.slogan{
	float: right;
	font-variant: small-caps;
	/* Top right bottom left */
	padding: 50px 15px 15px 0px;
}
/* Add background colour of nav bar */
.topnav{
	overflow: hidden;
	clear: both;
	padding: 10px 20px 10px 0px;
	border-bottom:2px solid #666666;
}

.topnav-right{
	float: right;
	display: inline-block;
}

/* Style the links */
.topnav a{
	color: #000000;
 	text-align: center;
 	padding: 5px 18px;
 	font-size: 18px;
	text-decoration: none;
}

/* Change the color of links on hover */
.topnav-right a:hover {
	color: #47A8FF;
}

/* Add a color to the active/current link */
.active{
	background-color: #ddd;
}

.topnav-user{
	display: inline-block;
	background: #47A8FF;
	color: #ffffff;
	padding: 5px 0px;
}

.topnav-user a{
	color: #ffffff;
}

/* Change the color of links on hover */
.topnav-user a:hover {
	background-color: #3986CB;
	color: #ffffff;
}
/* End of nav bar */



/* Styling Login Popup */
.popup{
	margin: 0px -50px;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.login-popup{
	height: 450px;
	width: 400px;
	background: #ffffff;
	padding: 20px;
	border-radius: 5px;
	position: relative;
}
.login-popup .user{
	width: 20%;
	margin: 10px;
}
input{
	margin: 15px auto;
	display: block;
	width: 90%;
	padding: 12px;
	border: 1px solid #B9B9B9;
}
.login-popup .L-button{
	background: #47A8FF;
	color: #ffffff;
	margin: 15px auto;
	display: block;
	width: 90%;
	padding: 12px;
	border: 1px solid #B9B9B9;
	text-decoration: none;
}
.login-popup .L-button:hover {
  background-color: #3986CB;
  color: #ffffff;
}

/* Styling checkbox*/
label{
	float: left;
	padding: 5px;
}
label input{
	display: inline-block;
	margin: 3px;
	width: 13px;
}
span.psw {
	float: right;
	padding: 5px;
}

.login-popup p{
	clear: both;
	text-align: center; 
	border-bottom: 1px solid #000000; 
	line-height: 0.1em;
	margin: 80px 8px 40px 8px;
}
.login-popup p span{ 
	background:#ffffff; 
	padding: 0 10px; 
}

.login-popup .su-button{
	background: #E9ECED;
	color: #666666;
	font-weight: 500;
	margin: 15px auto;
	display: block;
	width: 90%;
	padding: 12px;
	border: 1px solid #B9B9B9;
	text-decoration: none;
}
.login-popup .su-button:hover {
  background-color: #C2C6C7;
  color: #ffffff;
}
/* Cross button */
.close{
	position: absolute;
	top: 15px;
	right: 15px;
	background: #ffffff;
	height: 6%;
	border-radius: 50%;
	cursor: pointer;
}

/*End of Login Popup */

/* Footer stlye */
footer{
	background: #CDCDCD;
	text-align: center;
	margin: 50px -50px 0px -50px;
	/* Top right bottom left */
	padding: 40px 10px 10px 50px;
	overflow: auto;
}
.footer-leftmenu{
	display: inline-block;
	padding:0px 30px 0px 0px;
	width: 18%;
	height: 100%;
	border-right: 1px solid #666666;
}
.footer-leftmenu p{
	margin: 10px;
	text-align: center;
	
}

#footer-logo img{
	width: 40%;
	margin: 10px 10px 20px 10px;
}
footer .fa{
 	padding: 8px;
 	font-size: 20px;
 	width: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	background: #3B5998;
	color: #ffffff;
	margin: 20px 10px;
}

footer .fa:hover{
	opacity: 0.7;
}

/* Styling for whole menu container */
.footer-menu{

	float: right;
	width: 78%;
}
/* Styling for individual list */
.footer-list{
	display: inline-block;
	width: 16%;
	margin: 0 auto;
	padding: 0px 20px;
	vertical-align: top;
}
#footer-services{
	width:26%;
}

.footer-list a{
	text-decoration: none;
	color: #666666;
	font-weight: 400;
}
.footer-list a:hover {
	color: #47A8FF;
}

footer ul{
	list-style-type: none;
	padding: 5px;
}

footer li{
	margin: 10px 0px;
}

.footer-list img{
	width: 80%;
	height: 15%;
	margin: 10px;
}