body{
	font-family: Arial, "Times New Roman", Sans-serif;
	margin: 0px 50px;
}

h1{
	display: none;
}

/* Extend header to entire wdth of screen */
header{
	margin: 0px -50px;
}

header img{
	height: 80px;
}

.slogan{
	float: right;
	font-variant: small-caps;
	/* Top right bottom left */
	padding: 50px 15px 15px 0px;
}
/* Add background colour of nav bar */
.topnav{
	overflow: hidden;
	clear: both;
	padding: 10px 20px 10px 0px;
	border-bottom:2px solid #666666;
}

.topnav-right{
	float: right;
	display: inline-block;
}

/* Style the links */
.topnav a{
	color: #000000;
 	text-align: center;
 	padding: 5px 18px;
 	font-size: 18px;
	text-decoration: none;
}

/* Change the color of links on hover */
.topnav-right a:hover {
	color: #47A8FF;
}

/* Add a color to the active/current link */
.active{
	background-color: #ddd;
}

.topnav-user{
	display: inline-block;
	background: #47A8FF;
	color: #ffffff;
	padding: 5px 0px;
}

.topnav-user a{
	color: #ffffff;
}

/* Change the color of links on hover */
.topnav-user a:hover {
  background-color: #3986CB;
  color: #ffffff;
}
/* End of nav bar */

.popup{
	margin: 0px -50px;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.login-popup{
	height: 450px;
	width: 400px;
	background: #ffffff;
	padding: 20px;
	border-radius: 5px;
	position: relative;
}
.login-popup .user{
	width: 20%;
	margin: 10px;
}
input{
	margin: 15px auto;
	display: block;
	width: 90%;
	padding: 12px;
	border: 1px solid #B9B9B9;
}
.login-popup .L-button{
	background: #47A8FF;
	color: #ffffff;
	margin: 15px auto;
	display: block;
	width: 90%;
	padding: 12px;
	border: 1px solid #B9B9B9;
	text-decoration: none;
}
.login-popup .L-button:hover {
  background-color: #3986CB;
  color: #ffffff;
}

/* Styling checkbox*/
label{
	float: left;
	padding: 5px;
}
label input{
	display: inline-block;
	margin: 3px;
	width: 13px;
}
span.psw {
	float: right;
	padding: 5px;
}

.login-popup p{
	clear: both;
	text-align: center; 
	border-bottom: 1px solid #000000; 
	line-height: 0.1em;
	margin: 80px 8px 40px 8px;
}
.login-popup p span{ 
	background:#ffffff; 
	padding: 0 10px; 
}

.login-popup .su-button{
	background: #E9ECED;
	color: #666666;
	font-weight: 500;
	margin: 15px auto;
	display: block;
	width: 90%;
	padding: 12px;
	border: 1px solid #B9B9B9;
	text-decoration: none;
}
.login-popup .su-button:hover {
  background-color: #C2C6C7;
  color: #ffffff;
}
/* Cross button */
.close{
	position: absolute;
	top: 15px;
	right: 15px;
	background: #ffffff;
	height: 6%;
	border-radius: 50%;
	cursor: pointer;
}

.Download{
	overflow: auto;
}
.Download-image{
	width:50%;
	float: left;
}
.Download-image img{
	width:90%;
	/* Top right bottom left */
	margin: 15px 15px 15px 0px;
}
.Download-text{
	width: 45%;
	display: inline-block;
	margin: 15px;
	text-align: center;
}
.Download-text h2{
	font-size: 250%;
}
.Download-text p{
	font-size:110%;
}
.Download-text img{
	padding: 20px;
}

.Services{
	background: #EEFEFB;
	background: linear-gradient(to bottom, #EEFEFB, #ffffff);
	padding: 15px 0px;
}
.Services a{
	text-decoration: none;
	border:2px solid #666666;
	padding: 10px;
	border-radius: 5px;
	background: #ffffff;
	color: #0AB7F0;
	float: right;
	margin: 20px;
}
.Services h2{
	font-size: 230%;
}
.Services p{
	font-size: 130%;
}

.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.flex{
	min-width: 30%;
	max-width: 48%;
	flex-basis: 40%;
	flex-grow: 1;
	text-align: center;
	margin: 10px;
	border: 5px solid #DFEFFC;
	border-radius: 8px;
}